<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERN E-commerce</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    
    <!-- Content Starts -->

    <div class="grid-container">
        <!--Header property-->
        <header class="row">

            <div >
                <a href="index.html" class="brand">MERN E-Commerce</a>
            </div>

            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">signin</a>
            </div>
        </header>
        <!--End header-->

        <!-- Start Main -->
        <main>

            <ul>
                <li>Product 1</li>
                <li>Product 2</li>
                <li>Product 3</li>
                <li>Product 4</li>
            </ul>

        </main>
        <!-- End Main-->


        <!--Start footer-->
        <footer class="row center">Open Source</footer>
        <!-- end footer-->
    </div>


</body>
</html>